.activatedInput {
    width: 36vw;
    height: 2vh;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 16px;
    border-radius: 12px;
    border: solid 1px #5c73db;
}

.Input {
    width: 36vw;
    height: 2vh;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 16px;
    border-radius: 12px;
    border: solid 1px #e4e4e7;
}

.Button {
    width: 38vw;
    height: 2vh;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 40px;
    border-radius: 1vw;
    background-color: #8e806a;
  }